#container {
    background-color: white;
    width: auto;
    height: auto;
}

summary {
    font-weight: bold;
    font-size: 120%;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

#header {
    width: auto;
    background: black;
    padding: 20px;
    color: white;
    border-radius: 20px;
    padding-right: 30px;
}

#description{
    margin: 0 auto;
    text-align: center;
}

table{
    margin: 0 auto;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 22px;
}

#header img {
    width: 100%;
    height: auto;
    margin-top: -50px;
}

.profile_pic {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}

#experience{
    
}

.link{
    color: black;
}

.link:hover{
    color:green;
}

.title{
    font-style: italic;
    font-weight: 550;
}

.inside{
    padding-left: 20px;
}

.divisions{
    position: relative;
    margin-top: 0px;
    width: auto;
    margin-top: 5px;
    color: black;
    font-size: 18px;    
}

.divisions .division_inside{
    padding-left: 40px;
    padding-right: 30px;
}